
<header>
    <div class="uhv-logo-container"><img src="/favicon.png" alt="The Unhealthy Vegan" class="uhv-logo"></div> 
    <a class="skip-to-content-link" href="#main">Skip to main content</a> 
    <a href="/" class="site-title">The Unhealthy Vegan</a> 
    <button aria-pressed="false" class="menu-button" tabindex="0"><span class="sr-only">Toggle hamburger menu</span> 
        <svg viewBox="0 0 128 128" version="1.1" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g>
                <rect x="0" y="12.48" width="128" height="18.688"></rect>
            </g>
            <g>
                <rect x="0" y="96.832" width="128" height="18.688"></rect>
            </g>
            <g>
                <rect x="0" y="54.656" width="128" height="18.688"></rect>
            </g>
        </svg>
    </button>
    <nav class="main-nav">
        <ul>
            <li><a href="/blog.html" aria-current="page" class="active">Blog </a></li>
            <li><a href="/playlists.html" aria-current="false">Playlists </a></li>
            <li><a href="/library.html" aria-current="false">Library </a></li>
            <li><a href="/workout.html" aria-current="false">Workout </a></li>
            <li><a href="/artwork.html" aria-current="false">Artwork </a></li>
        </ul> <button aria-pressed="false" class="menu-button" tabindex="-1"><span class="sr-only"
                >Toggle hamburger menu</span> <svg viewBox="0 0 128 128" version="1.1"
                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                <path
                    d="M64,48.496l-48.496,-48.496l-15.504,15.504l48.496,48.496l-48.496,48.496l15.504,15.504l48.496,-48.496l48.496,48.496l15.504,-15.504l-48.496,-48.496l48.496,-48.496l-15.504,-15.504l-48.496,48.496Z">
                </path>
            </svg></button>
    </nav>
</header>
